html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
    box-sizing: border-box;
}

nav {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    padding: 8px 0;
    background-color: black;
    z-index: 1;
}

.logo a {
    text-decoration: none;
    color: #fff;
    margin-left: 15px;
}

.pages {
    display: flex;
    align-items: center;
    flex-direction: row;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    font-size: 20px;
    margin: 0 20px;
}

.buttons {
    display: flex;
    align-items: center;
    margin: 0 15px;
}

.buttons button {
    margin: 0 10px;
    background-color: black;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 6px;
    color: #fff;
    font-size: 16px;
}

.nav-item a {
    text-decoration: none;
    margin: 20px;
    color: #fff;
    font-size: 20px;
    margin-top: 10px;
}

.store1 {
    margin-top: 200px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    width: 80%;
}

.store1 img {
    width: 495px;
    height: 667px;
}

.store1 .quote p {
    font-weight: 700;
    font-size: 20px;
    width: auto;
    height: 150px;
    margin-top: auto;
    margin-left: auto;
}

.store1 .quote p {
    color: #fff;
}

.titlesection {

    justify-content: center;
    margin-top: 5px;
}

.titlesection h1 {
    width: 75%;
    border-bottom: 2px solid black;
    color: black;
    padding-top: 100px;
    margin: auto;
}

.store2 {
    margin-top: 200px;
    margin-right: auto;
    margin-left: 170px;
}

.store2 img {
    width: 320px;
    height: 480px;
}

.store2 span {
    font-size: x-small;
    color: black;
}

.store2 .div1 .product,
.store2 .div2 .product,
.store2 .div3 .product,
.store2 .div4 .product,
.store2 .div5 .product,
.store2 .div6 .product,
.store2 .div7 .product,
.store2 .div8 .product,
.store2 .div9 .product {
    display: flex;
    flex-direction: column;
}


.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 30px;
}

.div1 {
    width: 300px;
    grid-area: 1 / 1 / 2 / 2;
}

.div2 {
    width: 300px;
    grid-area: 1 / 2 / 2 / 3;
}

.div3 {
    width: 300px;
    grid-area: 1 / 3 / 2 / 4;
}

.div4 {
    width: 300px;
    grid-area: 2 / 1 / 3 / 2;
}

.div5 {
    width: 300px;
    grid-area: 2 / 2 / 3 / 3;
}

.div6 {
    width: 300px;
    grid-area: 2 / 3 / 3 / 4;
}

.div7 {
    width: 300px;
    grid-area: 3 / 1 / 4 / 2;
}

.div8 {
    width: 300px;
    grid-area: 3 / 2 / 4 / 3;
}

.div9 {
    width: 300px;
    grid-area: 3 / 3 / 4 / 4;
}

.div10 {
    width: 300px;
    grid-area: 4 / 1 / 5 / 2;
}

.div11 {
    width: 300px;
    grid-area: 4 / 2 / 5 / 3;
}

.div12 {
    width: 300px;
    grid-area: 4 / 3 / 5 / 4;
}


.product {
    position: relative;
    display: inline-block;
}

.hover-image {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.product:hover .hover-image {
    opacity: 1;
}


.my-footer {
    height: 300px;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}


.my-footer .list1 ul,
.my-footer .list2 ul,
.my-footer .list3 ul {
    display: flex;
    flex-direction: column;
    margin: 50px;
}

@media (max-width: 839px) {

    .store1 {
        width: 1000px;
        margin-left: auto;
    }

    .my-footer {
        height: auto;
        background-color: #333;
        color: #fff;
        text-align: center;
        padding: 20px;
        margin-top: 50px;
        width: 1500px;
    }

    .parent {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width: 480px) {
    .nav-item a {
        font-size: 16px;
        margin: 10px;
    }

    .store1 {
        margin-top: 100px;
        width: 900px;
    }

    .store1 .quote p {
        font-size: 16px;
    }

    .titlesection h1 {
        font-size: 24px;
        padding-top: 50px;
    }

    .store2 {
        margin-left: 10px;
        margin-right: 10px;
    }

    .store2 img {
        width: 100%;
        height: auto;
    }

    .store2 span {
        font-size: 12px;
    }

    .parent {
        grid-template-columns: repeat(2, 1fr);
    }
}


.my-footer {
    height: auto;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}

.my-footer .list1 ul,
.my-footer .list2 ul,
.my-footer .list3 ul {
    display: flex;
    flex-direction: column;
    margin: 20px;
}