html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
    box-sizing: border-box;
}

nav {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    padding: 8px 0;
    background-color: black;
    z-index: 1;
}

.logo a {
    text-decoration: none;
    color: #fff;
    margin-left: 15px;
}

.pages {
    display: flex;
    align-items: center;
    flex-direction: row;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    font-size: 20px;
    margin: 0 20px;
}

.buttons {
    display: flex;
    align-items: center;
    margin: 0 15px;
}

.buttons button {
    margin: 0 10px;
    background-color: black;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 6px;
    color: #fff;
    font-size: 16px;
}

.nav-item a {
    text-decoration: none;
    margin: 20px;
    color: #fff;
    font-size: 20px;
    margin-top: 10px;
}

.store1 {
    margin-top: 200px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.store1 img {
    max-width: 100%;
    height: auto;
}

.store1 .quote p {
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    text-align: center;
}

.titlesection {
    text-align: center;
    margin-top: 5px;
}

.titlesection h1 {
    width: 100%;
    border-bottom: 2px solid black;
    color: black;
    padding-top: 100px;
    margin: auto;
    text-align: center;
}

.store2 {
    margin-top: 200px;
    margin-right: auto;
    margin-left: 170px;
    text-align: center;
}

.store2 img {
    max-width: 100%;
    height: auto;
}

.store2 span {
    font-size: x-small;
    color: black;
}

.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 30px;
    max-width: 100%;
}

.div1,
.div2,
.div3,
.div4,
.div5,
.div6,
.div7,
.div8,
.div9,
.div10,
.div11,
.div12 {
    width: 100%;

}

.product {
    position: relative;
    display: inline-block;
}

.hover-image {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.product:hover .hover-image {
    opacity: 1;
}

.my-footer {
    height: auto;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.my-footer .list1 ul,
.my-footer .list2 ul,
.my-footer .list3 ul {
    display: flex;
    flex-direction: column;
    margin: 10px;
}


@media (max-width: 839px) {
    .store1 {
        width: 100%;
        margin: 0;
    }

    .my-footer {
        height: auto;
        padding: 20px;
    }

    .parent {
        grid-template-columns: repeat(2, 1fr);
    }

    .div1,
    .div2,
    .div3,
    .div4,
    .div5,
    .div6,
    .div7,
    .div8,
    .div9,
    .div10,
    .div11,
    .div12 {
        width: calc(50% - 12.5px);
    }
}

@media (max-width: 640px) {
    nav {
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 15px;
        justify-content: center;
    }

    .nav-item {
        font-size: 16px;
        margin: 10px 0;
    }

    .store1 {
        margin-top: 300px;
        padding: 20px;
    }

    .store1 .quote p {
        font-size: 16px;
    }

    .titlesection h1 {
        font-size: 24px;
        padding-top: 50px;
    }

    .store2 {
        margin: 10px;
    }

    .store2 img {
        max-width: 100%;
        height: auto;
    }

    .store2 span {
        font-size: 12px;
    }

    .my-footer {
        height: auto;
        padding: 20px;
    }

    .my-footer .list1 ul,
    .my-footer .list2 ul,
    .my-footer .list3 ul {
        margin: 10px;
    }
}

@media (max-width: 480px) {
    .nav-item a {
        font-size: 16px;
        margin: 10px;
    }

    .store1 {
        margin-top: 100px;
        padding: 20px;
    }

    .store1 .quote p {
        font-size: 16px;
    }

    .titlesection h1 {
        font-size: 24px;
        padding-top: 50px;
    }

    .store2 {
        margin-left: 10px;
        margin-right: 10px;
    }

    .store2 img {
        max-width: 100%;
        height: auto;
    }

    .store2 span {
        font-size: 12px;
    }

    .parent {
        grid-template-columns: repeat(2, 1fr);
    }
}